### STUDY OF SETS AND DICTIONARIES
### EXPERIMENT 5
### DARSH JAIN
### PRN: 25070123037
### ENTC A2
### 27/01/26


## Sets are used to store multiple items in a single variable.
## Set is one of 4 built-in data types in python used to store collections of data, the other three are List,Tuple, and Dictionary, all with diifferent qualities and usage.
## A set is a collection which is unordered, unchangeable, and unindexed.

In [ ]:
#Creation of set
thisset= {"laptop","mobile","computer"}
print(thisset)

{'laptop', 'computer', 'mobile'}

In [ ]:
#Duplicates are not allowed
thisset= {"laptop","mobile","computer","mobile"}
print(thisset)

{'laptop', 'computer', 'mobile'}

In [ ]:
#The values True and 1 are considered same value in sets
thisset= {"laptop","mobile","computer",True,1,2}
print(thisset)

{True, 'computer', 2, 'laptop', 'mobile'}

In [ ]:
# A set with strings, integers and boolean values:
set1= {"bde",35,True,67,"Female",45.6}
print(set1)

{True, 67, 35, 'Female', 45.6, 'bde'}

In [ ]:
#To check membership
thisset= {"laptop","mobile","computer"}
print("mobile"in thisset)
print("helicopter"in thisset)

True
False

In [ ]:
#Once a set is created , you cannot replace its items, but you can add new items
thisset= {"laptop","mobile","computer"}
thisset.add("car")
print(thisset)

{'laptop', 'computer', 'mobile', 'car'}

In [ ]:
#Remove items
thisset= {"laptop","mobile","computer"}
thisset.remove("mobile")
print(thisset)

{'laptop', 'computer'}

In [ ]:
#Set Operations
A= {1,9,8,7}
B={1,8,4,2}
print("Union:",A | B)
print("Intersection:",A & B)
print("Difference:",A - B)
print("Symmetric Difference:",A ^ B)

Union: {1, 2, 4, 7, 8, 9}
Intersection: {8, 1}
Difference: {9, 7}
Symmetric Difference: {2, 4, 7, 9}

In [ ]:
#Frozen set
x= frozenset({"laptop","mobile","computer"})
print(x)
print(type(x))

frozenset({'laptop', 'computer', 'mobile'})
<class 'frozenset'>

In [ ]:
#Adding or removal of elements are not allowed in frozen set
x= frozenset({"laptop","mobile","computer"})
x.add("car")
print(x)
x.remove("mobile")
print(x)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
#Problem statement 1: Unique event participants. A college event has a list of students who registered multiple times by mistake. Write a program using set to store participants names and display only unique participants.

participants = ["Aadi","Vidhaan","Aadi","Laksh","Luv","Keshav","Luv"]
unique_event_participants = set(participants)
print("Unique Event Participants:")
for name in unique_event_participants:
    print(name)

Unique Event Participants:
Luv
Aadi
Keshav
Vidhaan
Laksh

In [ ]:
#Problem statement 2: Three students choose elective subjects. Find the common subjects choose by all students using sets operations.

student1 = {"Maths", "Physics", "Computer"}
student2 = {"Physics", "Computer", "Chemistry"}
student3 = {"Biology", "Physics", "Computer"}
common_subjects = student1 & student2 & student3
print("Common subjects chosen by all students:")
for subject in common_subjects:
    print(subject)

Common subjects chosen by all students:
Computer
Physics

In [ ]:
#Problem 3: One set contains students in the cricket club, another in the football club. Find students who are in both clubs, in only one club. Concept used are: Intersection, Symmetric difference

cricket_club = {"Aadi", "Bobby", "Charvi", "Darsh"}
football_club = {"Charvi", "Darsh", "Eesha", "Faruk"}


both_clubs = cricket_club & football_club
only_one_club = cricket_club ^ football_club

print("Students in both Cricket and Football clubs:")
for student in both_clubs:
    print(student)

print("Students in only one club:")
for student in only_one_club:
    print(student)

Students in both Cricket and Football clubs:
Charvi
Darsh
Students in only one club:
Faruk
Eesha
Aadi
Bobby

In [ ]:
# Problem4: Absent students. Given a set of all students and a set of present students, find the absent students. concept used: Set difference

all_students = {"aadi", "darsh", "viraj", "yuvraj", "yuvi", "kavya"}
present_students = {"aadi", "viraj", "kavya"}
absent_students = all_students - present_students
print("Absent students:")
for student in absent_students:
    print(student)

Absent students:
darsh
yuvraj
yuvi

In [ ]:
#Problem5: Remove invalid entries. A set contains vaild course codes. Remove a discontinued course code from the set. Concept used:Remove

entc_courses = {"ENTC101", "ENTC102", "ENTC103", "ENTC104"}
discontinued_course = "ENTC103"
entc_courses.remove(discontinued_course)
print("Updated E&TC course codes:")
print(entc_courses)

Updated E&TC course codes:
{'ENTC101', 'ENTC104', 'ENTC102'}

#PYTHON DICTIONARIES
### Dictionaries are used to store data values in key:value pairs
### A dictionary is a collection which is ordered, changeable and do not allow duplictes.

In [4]:
# Creation Of Dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
  }
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [5]:
#Retrieving Values from dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
  }
print(thisdict["brand"])

Ford

In [7]:
#Dictionary takes latest value given for key. It will not allow duplicates
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2026
  }
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2026}

In [8]:
#Length of key value pairs
len(thisdict)

3

In [11]:
# Changing/adding key:value in dictionary
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
    }

car["color"] = "orange"
x= car.values()
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964, 'orange'])

In [12]:
#Retrieving of values
student= {
    "Roll":25,
    "Name":"Darsh",
    "Course":"ENTC"
}
print("Name:",student["Name"])

Name: Darsh

In [13]:
#Adding and updating elements
student["year"]="First"
student["Name"]="Aadi"
print(student)

{'Roll': 25, 'Name': 'Aadi', 'Course': 'ENTC', 'year': 'First'}

In [15]:
#Removing elements
student.pop('Course')
print("After removal:", student)

After removal: {'Roll': 25, 'Name': 'Aadi', 'year': 'First'}

In [19]:
#Problem 1: A dictionary stores products names and their prices. Write a python program to update the price of a given product.
values={
    "Product": "Laptop",
    "Price": 50000
}
values["Price"]= 65000
print(values)

{'Product': 'Laptop', 'Price': 65000}

In [21]:
#PROBLEM 2: A DICTIONARY STORES STUDENTS NAMES AND MARKS. WRITE A PYTHON PROGRAM TO SEARCH FOR A STUDENTS MARKS USING THE NAME ENTRY. IF THE STUDENT IS NOT FOUND, DISPLAY A SUITABLE MESSAGE.

students = {
    "Rahul": 85,
    "Anita": 92,
    "Suresh": 78,
    "Priya": 88
}
name = input("Enter student name: ")
marks = students.get(name, "Student not found in the record.")

# Display result
print(marks)

Enter student name: AADI
Student not found in the record.

In [23]:
#PROBLEM 3: A dictionary stores usernames and passwords. Write a python program to validate user login.

users = {
    "admin": "admin123",
    "darsh": "rude34",
    "student": "student321"
}

username = input("Enter username: ")
password = input("Enter password: ")

if users.get(username) == password:
    print("Login successful")
else:
    print("Invalid username or password")

Enter username: darsh
Enter password: rude65
Invalid username or password

In [24]:
#Problem4: A dictionary stores student names and marks.Program to find the student who scored the highest marks

marks = {"A": 34, "B": 43, "C": 65}

topper = max(marks, key=marks.get)

print("Topper:", topper)
print("Marks:", marks[topper])

Topper: C
Marks: 65